<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Sheger Gebeta</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    {% block title %} {% endblock title %}
  </head>
  <body>
    <header>
      <div class="logo"></div>
      <div class="navigation">
        <div class="toggle">
          <button class="home">Home</button>
          <button class="location">Location</button>
          <button class="foods">Foods</button>
        </div>
        <div class="search">
          <div class="icon"></div>
          <input type="search" placeholder="Search" class="search_bar">
          <button class="search_bttn">Search</button>
        </div>
      </div>
    </header>
    {% block content %} {% endblock %}
    <footer>Bon apetite</footer>
  </body>
</html>