header {
    display: flex;
    align-items: center;
    background-color: #ababab;
    width: 100%;
}

div.logo {
    height: 50px;
    width: 50px;
    margin: 20px;
    border-radius: 20px;
    background-image: url("../images/shegergebeta.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

div.navigation {
    display: flex;
    align-items: center;
    justify-content: end    ;
    margin-left: 3%;
    font-size: 21px;
    font-weight: bold;
}